{% extends "layout.html" %}


{% block body %}

<h2>Who we are</h2>
<hr>

<p>
       The fashion industry is a US $1.3 trillion market globally. Yet it is one of the most challenging businesses to operate under, with long lead times and short product life cycles. Trend forecasting decisions are rarely backed with sufficient data. 

</p>
<p>
       Stylumia was born out of this need-gap. Be it trend spotting, buy quantity or retail distribution, Stylumia breaks the complexities of the fashion business down to product, brand, consumer and channels to deliver higher precision in predictions over time. 
</p>
<p>
       We analyse and derive actionable intelligence from unstructured data sources by applying advances in AI and Computer Vision . And the source of our intelligence is images, user behaviour data, textual descriptions on social media and implicit signals mined from retail sites. The result is that fashion and lifestyle professionals across the globe are able to make laser-edge informed decisions for current course corrections and future directions.  
</p>
<p>
       If you are a manufacturer, brand, retailer or fashion and lifestyle influencer anywhere in the world, then Stylumia is for you. Our insights, backed with data will enable you to generate more margins and increase your revenue streams, all with the help of cutting-edge technology.
</p>
{% endblock body %}
