{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
        <h3>Welcome to the Stylumia Blog</h3>
        <p>In this blog you can share your blog posts as developers and help people.</p>
</div>


<p>
        {% if request.user.is_authenticated %}
                Thanks for Logging in, {{request.user.username}}
        {% else %}
                You can view the article without logging, To write a article please signin/register.
        {% endif %}

</p>
{% endblock body %}

